:root {
    --primary-color: #3b8aa7;
    --primary-color-hover: #337993;
    --primary-color-active: #2b677d;
    --primary-color-soft: #6aacc1;
    --primary-color-muted: #84b5c5;
    --primary-color-pale: #c2dce3;
    --primary-contrast-color: #ffffff;

    --text-color: var(--p-text-color);
    --text-color-secondary: var(--p-text-muted-color);

    --surface-ground: var(--p-surface-100);
    --surface-card: var(--p-content-background);
    --surface-overlay: var(--p-overlay-popover-background);
    --surface-hover: var(--p-content-hover-background);
    --surface-border: var(--p-content-border-color);

    --transition-duration: var(--p-transition-duration);
    --maskbg: var(--p-mask-background);
    --content-border-radius: var(--p-content-border-radius);
    --layout-section-transition-duration: 0.2s;
    --element-transition-duration: var(--p-transition-duration);

    --focus-ring-width: var(--p-focus-ring-width);
    --focus-ring-style: var(--p-focus-ring-style);
    --focus-ring-color: rgba(59, 138, 167, 0.35);
    --focus-ring-offset: var(--p-focus-ring-offset);
    --focus-ring-shadow: 0 0 0 0.2rem rgba(59, 138, 167, 0.18);

    --font-brand: 'SF Pro Display', sans-serif;
    --font-ui: 'SF Pro Display', sans-serif;
}